/* 
Mobile: 375px
Desktop: 1440px
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --serif-font: 'Fraunces', serif;
  --sans-serif-font: 'Montserrat', sans-serif;
  --main-primary-color: hsl(158, 36%, 37%);
  --main-bg-color: hsl(30, 38%, 92%);
  --dark-text-color: hsl(212, 21%, 14%);
  --secondary-text-color: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg-color);
}

html {
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --48px: 3rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-size: var(--14px);
  font-family: var(--sans-serif-font);
  color: var(--secondary-text-color);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  max-width: 20rem;
  border-radius: 10px;
  margin-bottom: var(--48px);
}

@media screen and (min-width: 56.25rem) {
  .card {
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }
}

.card-info {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 1.4375rem;
  padding-bottom: 1.4375rem;
}

@media screen and (min-width: 56.25rem) {
  .card-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.card-image {
  margin: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media screen and (min-width: 56.25rem) {
  .card-image {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.card-category {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: var(--12px);
  margin-bottom: var(--10px);
}

@media screen and (min-width: 56.25rem) {
  .card-category {
    margin-bottom: var(--18px);
  }
}

.card-title {
  color: var(--dark-text-color);
  font-size: var(--30px);
  font-family: var(--serif-font);
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--18px);
}

@media screen and (min-width: 56.25rem) {
  .card-title {
    font-size: var(--32px);
    margin-bottom: var(--24px);
  }
}

.card-description {
  line-height: 1.5;
  margin-bottom: var(--24px);
}

@media screen and (min-width: 56.25rem) {
  .card-description {
    line-height: 1.7;
  }
}

.card-payment {
  display: flex;
  align-items: center;
  margin-bottom: var(--16px);
}

@media screen and (min-width: 56.25rem) {
  .card-payment {
    margin-bottom: var(--24px);
  }
}

.card-price {
  font-family: var(--serif-font);
  color: var(--main-primary-color);
  font-size: var(--32px);
  margin-right: var(--18px);
}

.card-sale {
  text-decoration: line-through;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--main-primary-color);
  margin: auto;
  color: var(--white);
  font-family: var(--sans-serif-font);
  font-size: var(--14px);
  border: none;
  border-radius: 6px;
  padding: 15px 0;
}

.icon-cart {
  margin-right: 10px;
  min-width: var(--14px);
}

/* FOOTER */
.attribution {
  font-size: var(--14px);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
