/* 
Mobile: 375px
Desktop: 1440px
*/

:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --serif-font: 'Fraunces', serif;
  --sans-serif-font: 'Montserrat', sans-serif;
  --main-primary-color: hsl(158, 36%, 37%);
  --main-bg-color: hsl(30, 38%, 92%);
  --dark-text-color: hsl(212, 21%, 14%);
  --secondary-text-color: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

html {
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --48px: 3rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* FOOTER */
.attribution {
  font-size: var(--14px);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
